
#login,#signup{
    max-width: 30%;
    margin: auto;
    margin-top: 5%;
    background-color: #304c5e;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2%;
    border-radius: 2rem;
  }
  #user{
    margin: auto;
  }
