.nav-menu-admin {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

#Link{
    color: rgb(255, 255, 255);
}
.nav-item-admin {
    /* padding: 10px; */
    display: inline-flex;
    align-items: center;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    color: white;
}

.nav-admin{
    background-color: #304c5e;
    color: white;
} 

.nav-item-admin.active{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}